################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Data Lake Export
/Data Lake Export/bin
/Data Lake Export/obj
/packages
*.7z
*.tmp
*.user
/MigrationBackup/4cbc676c/Data Lake Export
